* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
.image{
    width: 550px;
    padding-bottom: 30px;
    padding-left: 90px;
    box-shadow: 5px 0 25px black;
}
  
.recipe {
    text-align: center;
    position: relative;
    left: 820px;
    top: 300px;
    font-size: 25px;
    max-width: 600px;
    font-size: 21px;

} 

.name{
    position: relative;
    left: 1085px;
    top: 105px;
    font-size: 28px;
    font-weight: bold;
}

.container{
    align-items: center;
    background-color:gainsboro;

}
